@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f1f5f9;
  background-image: radial-gradient(circle at top left, #e0e7ff, transparent 40%), radial-gradient(circle at bottom right, #e0f2fe, transparent 50%);
  color: #1e293b; /* A slightly softer black for better readability */
}

.form-section-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1e293b;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid #cbd5e1;
}